body {
    background: #d2e2da;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
h1 {
    color: #353d4d;
    text-align: center;
}
h3 {
    color: rgb(201, 107, 81);
    text-align: center;
}
.projects {
    display:flex;
    flex-wrap:wrap; 
} 
.projects h2 {
    width: 100%;
}
.project {
    width: 15%;
    margin: 5px;
    padding: 10px 8px;
    background: rgb(235, 222, 222);
    border-radius: 10%;
}
.project h3{
    margin-left: 50px;
}
.project img{
    width: 240px;
    height: 135px;
    margin: 10px;
    border: 2px solid rgb(201, 107, 81);
    display: block;
    margin: auto;
    text-align: center;
}
a { /* change the appearance of ALL links */
 text-decoration: none;
 color: rgb(201, 107, 81);
}
.project p { /* change the appearance of paragraph tags inside .project divs */
 text-align: center;
 margin: 15px;
}